* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-contener {
  display: grid;
  height: 100vh;
  border: 3px solid green;
  grid-template-rows: 90px auto auto 150px;
  grid-template-columns: 200px auto auto;
}
.header {
  background-color: rgb(136, 180, 55);
  grid-column-start: 1;
  grid-column-end: 4;
}
.sidebar {
  background-color: rgb(255, 157, 0);
  grid-row-start: 2;
  grid-row-end: 4;
}
.content1 {
  background-color: aqua;
  grid-row-start: 2;
  grid-row-end: 4;
}

.content2 {
  background-color: rgb(0, 81, 255);
}
.content3 {
  background-color: purple;
}
.footer {
  background-color: rgb(21, 255, 0);
  grid-column-start: 1;
  grid-column-end: 4;
}

/* Media Query CSS start */
@media (max-width: 500px) {
  .grid-contener {
    grid-template-columns: auto;
    grid-template-rows: 90px auto auto auto 150px;
    border-radius: 5px;
    /* display: flex;
        flex-wrap: wrap; */
  }

  .header {
    background-color: blue;
    
    /* width: 100%;  */
  }
  .sidebar {
    display: none;
  }
  .content1 {
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .content2 {
    background-color: rgb(0, 81, 255);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .content3 {
    background-color: purple;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer {
    background-color: rgb(21, 255, 0);
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
